{% extends "layout.html" %}
{% block content %}
<div class="about">
    <h1>ABOUT THIS APP</h1>
    <p>This is a Flask app written in Python by Paul Cleary.</p>
    <p>Code is <a href="https://github.com/prcleary/shoppinglist">here</a>.</p>
</div>
{% endblock %}

