{% extends "layout.html" %} 
{% block content %}
<div class="index"> 
    <input type="button" class="rightbutton" value="Print this page" onClick="javascript:window.print()">
    <p>Tick items to purchase.</p> 
    <table>
        <tr>
            {% for key in listitems %}
            <th>
                {{ key }}
            </th>
            <td id="{{ key|lower }}">
                {% for item, price in listitems[key] %} 
                <nobr>
                <input type="checkbox" id="{{ item|lower }}" name="{{ item }}" data-price="{{ price }}" onchange="calculateBill()"> 
                <label for="{{ item|lower }}"> 
                    {{ item }} (${{ price }}) Qty: <input type="number" id="{{ item|lower }}-qty" value="1" min="0" onchange="calculateBill()">
                </label>
                </nobr>
                {% endfor %}
                <div contenteditable>
                    Other: 
                </div>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <th>
                Select currency:
            </th>
            <td>
                <select id="currency" onchange="calculateBill()">
                    <option value="USD">American Dollar</option>
                    <option value="GBP">British Pound</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>
                Enter your discount (%):
            </th>
            <td>
                <input type="text" id="discount" placeholder="Enter discount %" oninput="calculateBill()">  
            </td>
        </tr>
        <th>
            Maximum average:
        </th>
        <td id="max-average-info"></td>
        <tr>
            <th>
                Enter your budget: 
            </th> 
            <td>
                <input type="text" id="budget" placeholder="Enter your budget" oninput="calculateBill()">  
            </td>
        </tr>
        <input type="hidden" id="average" name="average">
        <tr>
            <th>
                Bill:
            </th>
            <td id="bill">
            </td>
        </tr>
    <tr>
        <th>
            Below:
        </th>
        <td>
            <input type="number" id="price-below" placeholder="Enter price" oninput="displayProductsBelow()">
        </td>
    </tr>
    <tr>
        <th>
            Products Below:
        </th>
        <td id="products-below">
        </td>
        <tr>
            <th>
                Most expensive:
            </th>
            <td id="most-expensive">
            </td>
        </tr>
        <tr>
            <th>
                Cheapest:
            </th>
            <td id="cheapest">
            </td>
        </tr>
        <tr>
        </tr>
        <tr>
            <th>
                Product with highest quantity:
            </th>
            <td id="highest-quantity">
            </td>
        </tr>
        <tr>
            <th>
                Left:
            </th>
            <td id="left">
            </td>
        </tr>
        <tr>
            <th>
                Add new product:
            </th>
            <td>
                Name: <input type="text" id="new-product-name">
                Price: <input type="number" id="new-product-price" min="0" step="0.01">
                Category: <select id="new-product-category">
                    {% for key in listitems %}
                    <option value="{{ key }}">{{ key }}</option>
                    {% endfor %}
                </select>
                <button onclick="addNewProduct()">Add</button>
            </td>
        </tr>
    </table>
</div>
<script>
    function addNewProduct() {
        let name = document.getElementById('new-product-name').value.trim();
        let price = parseFloat(document.getElementById('new-product-price').value);
        let category = document.getElementById('new-product-category').value.toLowerCase();
        if (name === "" || isNaN(price) || price <= 0) {
            alert("Please enter a valid name and price for the new product.");
            return;
        }
        let categoryContainer = document.getElementById(category);
        let newItemHTML = `
            <nobr>
            <input type="checkbox" id="${name.toLowerCase()}" name="${name}" data-price="${price}" onchange="calculateBill()"> 
            <label for="${name.toLowerCase()}"> 
                ${name} ($${price}) Qty: <input type="number" id="${name.toLowerCase()}-qty" value="1" min="0" onchange="calculateBill()">
            </label>
            </nobr>
        `;
        categoryContainer.insertAdjacentHTML('beforeend', newItemHTML);
    }
    
    function calculateBill() {
        let checkboxes = document.querySelectorAll('input[type="checkbox"]:checked');
        let total = 0;
        let totalPrice = 0;
        let mostExpensive = 0;
        let cheapest = Infinity;
        let count = 0;
        let highestQuantity = {
            name: '',
            quantity: 0
        };
        checkboxes.forEach(function(checkbox) {
            let price = parseFloat(checkbox.getAttribute('data-price'));
            let quantity = parseInt(document.getElementById(checkbox.id + '-qty').value);
            total += price * quantity;
            totalPrice += price;
            count += quantity;
            if (quantity > highestQuantity.quantity) {
                highestQuantity.name = checkbox.id;
                highestQuantity.quantity = quantity;
            }
            if (price > mostExpensive) {
                mostExpensive = price;
            }
            if (price < cheapest) {
                cheapest = price;
            }
        });
        let currency = document.getElementById('currency').value;
        if (currency === "GBP") {
            total *= 0.79; //1 USD = 0.79 GBP
            totalPrice *= 0.79;
            mostExpensive *= 0.79;
            cheapest *= 0.79;
        }
        let averagePrice = count > 0 ? totalPrice / count : 0;
        document.getElementById('bill').innerText = currency === "GBP" ? '£' + total.toFixed(2) : '$' + total.toFixed(2);
        document.getElementById('most-expensive').innerText = currency === "GBP" ? '£' + mostExpensive.toFixed(2) : '$' + mostExpensive.toFixed(2);
        document.getElementById('cheapest').innerText = currency === "GBP" ? '£' + cheapest.toFixed(2) : '$' + cheapest.toFixed(2);
        document.getElementById('average').innerText = currency === "GBP" ? '£' + averagePrice.toFixed(2) : '$' + averagePrice.toFixed(2); 
        document.getElementById('highest-quantity').innerText = highestQuantity.name !== '' ? highestQuantity.name + ': ' + highestQuantity.quantity : '';
        calculateLeft();

        let average = document.getElementById('average');
        average.value = calculatedAverage;
    }

    function calculateLeft() {
        let budgetText = document.getElementById('budget').value.trim();
        let budget = parseFloat(budgetText); 
        let bill = parseFloat(document.getElementById('bill').innerText.replace('$', '').replace('£', ''));
        let left = budget - bill;
        let leftDisplay = currency === "GBP" ? '£' + left.toFixed(2) : '$' + left.toFixed(2);
        if (isNaN(left) || left < 0) {
            leftDisplay = "Not enough money!";
        }
        document.getElementById('left').innerText = leftDisplay;
    }

    function displayProductsBelow() {
        let priceBelow = parseFloat(document.getElementById('price-below').value.trim());
        if (isNaN(priceBelow) || priceBelow <= 0) {
            return;
        }
        let productList = document.getElementById('products-below');
        productList.innerHTML = ''; // Clear previous list
        let checkboxes = document.querySelectorAll('input[type="checkbox"]');
        checkboxes.forEach(function(checkbox) {
            let price = parseFloat(checkbox.getAttribute('data-price'));
            if (price < priceBelow) {
                let productName = checkbox.name;
                let listItem = document.createElement('li');
                listItem.textContent = productName;
                productList.appendChild(listItem);
            }
        });
    }

    document.getElementById('time-range').addEventListener('change', function() {
    let selectedTimeRange = this.value;
    fetchMaxAverage(selectedTimeRange);
});

function fetchMaxAverage(timeRange) {
    fetch(`/max_average?time_range=${timeRange}`)
    .then(response => response.text())
    .then(data => {
        document.getElementById('max-average-info').innerText = data;
    })
    .catch(error => {
        console.error('Error:', error);
    });
}

    let checkboxes = document.querySelectorAll('input[type="checkbox"]');
    checkboxes.forEach(function(checkbox) {
        checkbox.addEventListener('change', function() {
            calculateBill();
        });
    });

    let budgetField = document.getElementById('budget');
    budgetField.addEventListener('input', function() {
        calculateBill();
    });

    let discountField = document.getElementById('discount');
    discountField.addEventListener('input', function() {
        calculateBill();
    });
</script>
{% endblock %}         
